@{
    ViewBag.Title = "Tutorial Page 1";
    ViewBag.H2 = "Tutorial - Page 1";
}

<div class="container">
    <p>Here's the first thing you need to know about my website.</p>


    <a class="btn btn-primary" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id=2>Next</a>
</div>
