@{
    ViewBag.Title = "Tutorial Page 3";
    ViewBag.H2 = "Tutorial - Page 3";
}

<div class="container">
    <p>Here's the third thing you need to know about my website.</p>

    <a class="btn btn-primary" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="2">Previous</a>
</div>