@{
    ViewBag.Title = "Tutorial Page 2";
    ViewBag.H2 = "Tutorial - Page 2";
}

<div class="container">
    <p>Here's the second thing you need to know about my website.</p>

    <a class="btn btn-primary" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="1">Previous</a>
    <a class="btn btn-primary" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="3">Next</a>
</div>
