@{
    ViewBag.Title = "Help Page";
    ViewBag.H2 = "Welcome";
}


<div class="container">
    <p>Browse the help page tutorial <a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id=1>here</a>!</p>
</div>
